extends ../layouts/default

//- block intro
//- 	.container
//- 		h1 Gallery
	
block content
	.container
		if galleries.length
			each gallery in galleries
				h3= gallery.name
				blockquote.embedly-card
					h4: a(href=gallery.video)
				script(async='', src='//cdn.embedly.com/widgets/platform.js', charset='UTF-8')
		else
			h3.text-muted There are no videos yet.
