extends ../layouts/default

//- block intro
//- 	.container
//- 		h1 Gallery
	
block content
	.container
		if galleries.length
			each gallery in galleries
				.video
					blockquote.embedly-card(data-card-key="abf2322c805740f0a2d46274964d65b2",data-card-align="left")
						h4
							a(href=gallery.video)
					h3(class='embedly')= gallery.name
					script(async="", src="//cdn.embedly.com/widgets/platform.js", charset="UTF-8")
				
		else
			h3.text-muted There are no videos yet.
