#header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e6ecf0;
	color: inherit;	
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.container-header {
    width: 100%;
}

.jumbotron {
	background-color: #1da1f2;
	height: 110px;
	padding-top: 19px;
	margin-bottom: unset;
	width: 100%;
}

body{
	background-color: #F6F6F6;
}

.gallery-image img {
    display: block;
    width: 100%;
    height: auto;
}
.blog{
	margin-top: 15px;
	
}

@media (max-width:700px){
	.post{
		position: relative;
		padding: 0;
		margin-top: 20px;
		width: 100%;
		background: #FFFFFF;
	}
}
@media (min-width:701px){
	.post{
		position: relative;
		padding: 0;
		margin-top: 20px;
		width: 118%;
		background: #FFFFFF;
	}
}

h1{
	color: #433e3e;
	letter-spacing: 0;
	font-weight: 600 !important;
}

@media (max-width:700px) {
	h2{
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 10px;
		display: inline-block;
		font-size: 16px;
	}
}

@media (min-width:701px) {
	h2{
		margin-top: 10px;
		width: 60%;
		display: inline-block;
		font-size: 24px;
	}
}

h3{
	color: #433e3e;
	line-height: 27px;
	margin-bottom: 30px;
	text-decoration: none;
	letter-spacing: 0;
	font-weight: 600 !important;
}

@media (max-width:700px){
	h4{
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
}

@media (min-width:701px){
	h4{
		font-size: 48px;
		font-weight: bold;
		text-align: center;
	}
}

h6{
	font-weight: bold;
    margin-left: 40px;
	margin-top: 4px;
	font-size: 10px;
	text-align: -webkit-center;
	margin-right: 30px;
}

p{
	display: inline-block;
}

a{
	color: #433e3e;
	line-height: 27px;
	text-decoration: none;
	letter-spacing: 0;
	font-weight: 600 !important;
}

@media (max-width:700px) {
	img{
		height: auto;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}
}
@media (min-width:701px) {
	img{
		margin-right: 35px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		position: relative;
	}
}

@media (min-width:701px){
	p.lead.text-muted {
		color: #aaa !important;
		font-size: 14px;
		margin-bottom: auto;
		letter-spacing: .1px;
	}
}

@media (max-width:700px){
	p.lead.text-muted {
		margin-left: 5%;
		margin-right: 5%;
		color: #aaa !important;
		font-size: 12px;
		margin-bottom: auto;
		letter-spacing: .1px;
	}
}

body{
	line-height: 3.4;
}

.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2{
	margin-left: 4%;
}

.container-fluid>.navbar-collapse{
	// font-family: "Segoe UI",Arial,sans-serif;
	font-size: 21px;
	line-height: 20px;
	overflow-y: scroll;
	color: #14171a;
}

li.active {
    border-bottom: 4px solid #1da1f2;
}

.nav>li>a {
	padding: 10px 30px;
}

.navbar-right {
	margin-right: -125px;
}

.navbar-nav>li{
	border-left: 1px solid #e6ecf0;
}

img.logo.pull-left{
	margin-top: 1px;
}

div#btcwdgt-price,div#ether-price {
	font-size: 14px;
	margin-top: inherit;
}

.trending{
	border-right: 1px solid #e6ecf0;
}

.featured{
	width: 118%;
	height: auto;
	background: #FFFFFF;
}

img.img-fluid {
    max-width: 100%;
}

@media (min-width:701px) {
	h2.headline{
		font-size: 2.5em;
		padding: 12px 20px;
		margin-bottom: 0px;
		width: auto;
	}
}

@media (max-width:700px){
	h2.headline { 
		margin-left: 5%;
		margin-right: 5%;
		// padding: 12px 20px;
		margin-bottom: 0px;
		width: auto;
	}
}


p.lead.text {
    color: #aaa !important;
    font-size: 14px;
    margin-bottom: auto;
    letter-spacing: .1px;
    padding-left: 25px;
}

.col-md-6.col-md-6{
	height: 420px;
	padding-left: unset;
	margin-bottom: 15px;
}

.video{
	width: 600px;
	background: #FFFFFF; 
	padding-bottom: 1px;
	margin-bottom: 30px;
	margin-left: 50px;
}

h3.embedly{
	margin-top: 1.5rem !important;
    margin-left: 1.5rem !important;
}

@media (max-width:700px){
	.col-sm-8.col-md-9 {
		padding-left: 0;
		padding-right: 0;
	}
}
