#header {
	background-color: #1385e5;
	color: inherit;	
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post{
	margin-top: 10px;
	width: 1000px;
	border: 1px solid #e2e2e2;
}

h2{
	margin-top: 10px;
	width: 600px;
	display: inline-block;
	font-size: 24px;
}

p{
	display: inline-block;
}

a{
	color: #433e3e;
	line-height: 27px;
	margin-bottom: 10px;
	text-decoration: none;
	letter-spacing: 0;
	font-weight: 600 !important;
}

img{
	margin-right: 35px;
	height: auto;
}

p.lead.text-muted {
    color: #aaa !important;
	font-size: 14px;
	margin-bottom: auto;
	letter-spacing: .1px;
}

body{
	line-height: 3.4;
}



